.terminal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background: black;
  color: white;
  font-family: monospace;
  overflow-y: scroll;
  font-size: 1rem;
  position: relative;
}

.toolbar {
  width: 100%;
  height: 20px;
  min-height: 20px;
  background: turquoise;
  position: sticky;
  top: 0;
}

.output {
  width: 100%;
  flex: 1;
}

.input-container {
  width: 100%;
  display: flex;
}

.input-prefix-upper {
  color: lime;
}

.input-prefix-lower {
  white-space: pre;
}

.input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  white-space: break-spaces;
}

.input:focus-visible {
  outline: none;
}

a {
  color: cyan;
}
