.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    rgba(255, 255, 255, 0.04),
    transparent 80%
  );
  overflow-x: hidden;
}

.nav {
  padding-top: 0;
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 6rem;
  }
}
