.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    black,
    rgb(12, 12, 12)
  );
}

.nav {
  padding-top: 0;
}
