@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  background: black;
  color: whitesmoke;
}

:root,
* {
  font-family: "Roboto Mono";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  line-height: 1;
}
