.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;

  overscroll-behavior-x: none; /* prevents bounce on iOS */
  scroll-behavior: auto; /* avoid weird smooth scrolling in JS loop */
  -webkit-overflow-scrolling: auto; /* disable momentum scroll for smoother wrap */

  &::-webkit-scrollbar {
    display: none;
  }
}
