.typewriter-main {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--hero-bg-colour);
  animation: background-disappear 500ms var(--animation-delay, 5s) linear forwards; /* --animation-delay is set on component using javascript */
}

@keyframes background-disappear {
  from {
    transform: scale(1);
    opacity: 1;
    background: var(--hero-bg-colour);
    border-radius: 0;
  }
  to {
    transform: scale(0);
    opacity: 0;
    background: var(--output-bg-colour);
    border-radius: 100%;
  }
}

.typewriter-text {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  color: var(--output-text-colour);
  font-size: 3rem;
  line-height: 1em;
}

.cursor {
  display: inline-block;
  width: 6px;
  background-color: var(--output-text-colour);
  margin-left: 2px;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
}

.hero-word {
  position: relative;
  z-index: 50;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .typewriter-main {
    padding: 0;
  }
}