.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(90, 0, 255, 0.05), transparent);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, transparent 10%, black);
}

.quote {
  padding: 0.5rem;
  text-align: center;
  font-size: clamp(0.5rem, 4vw, 1rem);
  z-index: 1;
  opacity: 0.5;
  transition: opacity 500ms ease;
}

.quote:hover {
  opacity: 1;
  cursor: default;
  background: rgba(255, 255, 255, 0.033);
  box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.033);
}

.bottom {
  position: absolute;
  bottom: -2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  z-index: 1;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  width: fit-content;
  height: 2.5rem;
  background: black;
  color: ghostwhite;
  border-top-right-radius: 2px;
  text-align: center;
}

.characters {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 2;
}

.character {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  transform: translateY(0rem);
  transition: transform 300ms ease-in-out;

  &:hover {
    transform-origin: bottom center;
    transform: translateY(-2.5rem);
  }
}
