.nav {
  padding: 2rem;
}

.links {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .links {
    gap: 2rem;
  }
}

.button {
  position: relative;
  cursor: pointer;
  appearance: none;
  font-size: 1.5rem;
  background: none;
  color: whitesmoke;
  border: none;
  text-transform: lowercase;
  padding: 0 1rem;
  width: 10rem;

  &::before {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 2px;
    background: rgba(90, 0, 255, 0.15);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.text {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
